<h1>New Question</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for questions</p>
        <ul>
            <li>There are no stupid questions.</li>
            <li>Don't forget your question mark.</li>
            <li>Click resolved if your question has been answered.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <%= form_for @question do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter quesiton title" %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter question body" %>
        </div>
        <div class="form-group">
            <%= f.label :resolved %>
            <%= f.check_box :resolved %>
        </div>
        <div class="form-group">
            <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
        <% end %>
    </div>
</div>
